body {
  padding-top: 15px;
  background: rgb(159,139,135);
  background: radial-gradient(circle, rgba(159,139,135,1) 0%, rgba(212,186,180,1) 54%, rgba(186,180,212,1) 81%);
}
#result {
  display: none;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 1px;
  background: rgb(131,58,180);
  background: linear-gradient(0deg, rgba(239,193,116,0.5) 0%, rgba(131,58,180,1) 25%, rgba(130,193,142,1) 95%);
  color: white;
  font-weight: 600;
  margin-top: 8px;
}
button.btn{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-weight: 500;
}
